    body {
        background-image: url('https://assets.nflxext.com/ffe/siteui/vlv3/9db4a880-3034-4e98-bdea-5d983e86bf52/b5953637-091d-4e02-9754-2bfadc8a8f7c/IN-en-20230925-popsignuptwoweeks-perspective_alpha_website_large.jpg');
        background-repeat: no-repeat;
        background-size: 100%;
    }



    .inputbox {

        border: 1px solid black;
        background-color: black;
        width: 400px;
        height: 500px;
        margin: auto;
        margin-top: 70px;


    }

    .head {
        margin-left: 40px;
        margin-top: 30px;
        color: white;
    }

    .box3 {
        margin-left: 40px;
        margin-top: 30px;
    }

    .headtitle input {
        width: 85%;
        height: 3.5rem;
        margin-top: 20px;
        border: none;
        border-radius: 3px;



    }

    .box3 button {
        width: 85%;
        height: 3.5rem;
        color: white;
        background-color: tomato;
        border-radius: 3px;
        font-weight: bolder;

    }

    .input {
        margin-left: 40px;
        color: white;

    }

    .input a {
        float: right;
        text-decoration: none;
        margin-right: 50px;
        color: white;
        font-weight: lighter;
    }

    .heading {
        margin-top: 30px;
        margin-left: 40px;
        color: white;
        font-weight: lighter;
    }

    .heading a {
        text-decoration: none;
        color: white;
        font-size: 15px;
        font-weight: bolder;
    }

    .title2 {
        margin-left: 40px;
        color: white;
        font-weight: lighter;
    }

    .title2 a {
        text-decoration: none;
    }

    .htitle {
        color: crimson;
        margin-left: 20px;
        background: none;

    }

    .htitle h1 {
        font-weight: bolder;
        font-size: 40px;
    }

    input[type="email"] {
        background-color: rgba(211, 211, 211, 0.411);
        padding: 10px 15px;
        border-radius: 3px;
    }

    input[type="password"] {
        background-color: rgba(211, 211, 211, 0.411);
        padding: 10px 15px;
        border-radius: 3px;
    }